@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Container layout matching the image wrap layout */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 3px; /* Spacing between tags */
  padding: 10px 0px 0px 0px;

  font-size: clamp(12px, 0.75vw, 16px);
}

/* Static text badge styling */
.pill-tag {
  background-color: transparent;
  border: 1px solid #bbbbbb; /* Light grey outline */
  
  border-radius: 999999px; /* Rounded pill shape */
  padding: 3px 9px; /* Internal spacing */

}

.pill-tag-green {
  border: 1px solid #333432; /* Light grey outline */
  border-radius: 24px; /* Rounded pill shape */
  padding: 8px; /* Internal spacing */
  background: #d0ece0;

  box-shadow: 0 4px 4px 0 #00000033;

  display: block;
  width: max-content
}

.pill-tag-red {
  border: 2.5px solid #da0f0f; /* Light grey outline */
  border-radius: 75px; /* Rounded pill shape */
  padding: 16px 24px 16px 24px; /* Internal spacing */
  background-color: transparent;
  display: block;
  width: max-content
}

.pill-tag-brown {
  border-radius: 100px;
  padding: 16px 24px;

  background-color: #4c3725;
  border: 1px solid #4c3725;

  position: absolute;
  right: -175px;
  top: 75%;
  transform: translateY(-50%);

  width: clamp(250px, 30vw, 35%);
  box-sizing: border-box;

  z-index: 2;
}




.project-detail-row {
  display: flex;
  align-items: baseline;
  gap: 6px; /* Adds a tiny bit of horizontal breathing room after the colon */
  padding: 1px 0px;
}